<div class="row">
	<div class="col-sm-4 user-profile card">
		<%= render 'shared/user_profile' %>
	</div>	
	<div class="col-sm-8">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<%= render 'shared/signed_in_nav' %>
			</ul>
		</nav>

	</div>
</div>