<div id="join" class="col-md-6 col-md-offset-3">
	<h1>SPORTMATCH</h1>
	<h2>Who's the best? It could be you...</h2>


	<button class="btn btn-lg" data-toggle="modal" data-target=".join-modal">JOIN</button>
<br>
	<a class="btn btn-lg" href="<%= new_user_session_path %>">Sign in</a>

</div>

</div>
<%= render 'join' %>
<%= render 'sign_up' %>
<script type="text/javascript">
$('.sign-up-btn').on('click', function(){
  $('.join-modal').modal('hide');
  $('.sign-up-modal').modal('show');

});
</script>
