// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.users-show{
	background:#FFFFFF;
	padding:60px;
}

.navbar{
background:#3499DB

}